body {
  background-color: cyan;
}
.start {
  color: hotpink;
}
.start {
font-family: "Comic Sans MS", "Comic Sans", cursive;}
.start {-webkit-transform: rotate(7deg);}

.back {font-size: 35px;}

.ethan {
  font-family: "Comic Sans MS", "Comic Sans", cursive;}

.ethan {font-size: 10px;}

img {
  position: absolute;
  right: 150px;
  top: 500px;
  width: 100px;
  height: 100px;
} 
