body {
  background-color: #FFE4C4;
}
.title {
	-webkit-text-stroke: 3px brown;
}
.title { 
  -webkit-transform: rotate(4deg);
}
.button {
  background-color: #E9967A;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  right: 1000px;
}
.button {
	-webkit-text-stroke: 3px brown;
}

.token {
  position: absolute;
  width: 100px;
  height: 100px;
} 
