body {
  background-color: #FFE4C4;
}
.jesus {
  animation-name: gay;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-transform: rotate(-7deg);
  font-family: "Comic Sans MS", "Comic Sans", cursive;}
 
h2 {font-size: 50px;}
h3 {font-family: "Times New Roman", Times, monospace;
font-size: 30px;
   }

@keyframes gay {
  7% {color: red;}
  14% {color: orange;}
  21% {color: yellow;}
  28% {color: green;}
  35% {color: blue;}
  42% {color: purple;}
  49% {color: violet;}
  56% {color: purple;}
  63% {color: blue;}
  70% {color: green;}
  77% {color: yellow;}
  84% {color: orange;}
  91% {color: red;}
}

/*unorgonized list 1*/
.fam{ font-size: 18px;}
.uno {
  color: red;
}
.dos {
  color: green;
}
.tres {
  color: blue
}
/*unorgonized list 1 end*/
.corn {color: brown}
.corn {
font-family: "Comic Sans MS", "Comic Sans", cursive;}
.mine {
  -webkit-transform: rotate(2deg);
}

.start {
  color: hotpink;
}
.start {
font-family: "Comic Sans MS", "Comic Sans", cursive;}
.start {-webkit-transform: rotate(7deg);}

.back {font-size: 35px;}

.ethan {
  font-family: "Comic Sans MS", "Comic Sans", cursive;}

.ethan {font-size: 10px;}

.femboy {
  position: absolute;
  right: 150px;
  top: 500px;
  width: 100px;
  height: 100px;
} 

.button {
  background-color: #E9967A;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  right: 1000px;
}

.button {border-radius: 25px;}

.secwet{
  font-size: 18px;
}
/*link customizers*/
a.secwet:link {
  color:#FFE4C4;
}

/* visited link */
a.secwet:visited {
  color:#FFE4C4;
}

/* mouse over link */
a.secwet:hover {
  color: green;
  font-size: 18px;
}
/*remove underline*/
a.secwet:link {
  text-decoration: none;
}

a.secwet:visited {
  text-decoration: none;
}

a.secwet:hover {
  text-decoration: none;
}

a.secwet:active {
  text-decoration: none;
}
/*remove underline*/
a.happy:link {
  text-decoration: none;
}

a.happy:visited {
  text-decoration: none;
}

a.happy:hover {
  text-decoration: none;
}

a.happy:active {
  text-decoration: none;
}
